body {
    margin: 2em;
    font-family: Ubuntu, sans-serif;
    line-height: 1.7em;
}
h2, h3 {
    margin-top: 2em;
}
h5 {
    margin-top: 5em;
}
.keywords {
    margin: 5em 0 2em;
    padding: 2em;
    color: #fff;
    background-color: #333;
}
.keywords ul, .keywords li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.keywords li {
    display: inline-block;
    margin-right: 1em;
}
mark {
    background-color: yellow;
}

/* Grid */
.show-grid {
    margin-bottom: 1em;
}
.show-grid [class^="col-"] {
    padding: 1em;
    text-align: center;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
}
.grid-mobile [class^="col-"] {
    padding: 5em 1em;
    text-align: center;
}
.grid-nesting [class^="col-"] {
    margin-top: 2em;
    padding: 4em 1em;
}
.grid-offset [class^="col-"] {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
}

/* Glyphicons */
.glyph-large {
    font-size: 10em;
}

/* Images */
img {
    margin-right: 2em;
}

/* Carousel */
.carousel {
    width: 750px;
}

/* Tabs */
.tab-content p {
    margin: 2em;
}