body {
  font-family: 'Lato', sans-serif;
}
header {
  background-color: black;
  color: white;
  width: 100%;
  line-height: 3;
  height: 5em;
  padding: 0;
}
header * {
  display: inline-block;
}
.loupe{
  float: right;
}
.search{
  background-color:#24890D;
  padding: 23px;
  font-size: 25px;
}
header li a:hover{
  color: #24890D;
}
header ul li {
  display: inline-block;
  margin-right: 3em;
  font-weight: bold;
}
.no_decoration li{
  list-style: none;
}
.no_decoration li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
h2 {
  font-size: 12px;
  font-weight: bold;
}
nav {
  top: 3em;
  left: 0;
  background-color: black;
  color: white;
  height: 100%;
}
nav .border li:first-child {
  border-top: 1px solid grey;
}
nav p {
  padding: 10px;
  color: grey;
}
nav a, nav a:hover {
  text-decoration: none;
  color: white;
  /*line-height: 3;*/
}
nav li{
  padding: 1em;
}
nav li:hover {
  color: white;
  background-color: #24890D;
}
nav .border li {
  padding-left: 10px;
  border-bottom: 1px solid grey;
}
nav img {
  width: 100%;
}
.height h2{
  font-size: 20px;
}
.height p{
  font-size: 18px;
}
.github{
  float: right;
  font-size: 26px;
}
.no_padding{
  padding: 0;
}
.special {
  padding: 0 20px;
}
.margin {
  padding: 0;
}
.black {
  background-color: black;
  color: white;
}
.size {
  font-size: 18px;
}
input {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #191919;
  border-radius: 2px;
  border: 1px solid grey;
  color: grey;
}
em {
  display: block;
}
.height{
  height: 15em;
}
.green {
  text-decoration: none;
  color: #24890D;
}
.gigs{
  padding: 10px;
}
.border1{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.solid{
  border-top: 5px solid black;
  line-height: 2;
  text-transform: uppercase;
  font-weight: bold;
}
i.play{
  background-color: black;
  color: white;
  line-height: 3;
  text-align: center;
  width: 3em;
  margin-right: 8px;
}
.grey{
  color: grey;
}
.padding {
  padding: 50px 100px;
}
.vide {
  height: 350px;
}
footer{
  height: 5em;
  line-height: 4em;
  font-size: 18px;
}
.height1{
  margin-top: 5em;
}
